@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

#imagencancion{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
pre{
    font-family: 'Roboto', sans-serif;
}
#primerparrafo
{
    
    background-color: rgb(200, 100, 100);
    font-weight: 100;
}
#segundoparrafo
{
 
    background-color: rgb(205,110, 110);
    font-weight: 100;
    font-style: italic;
}
#tercerparrafo
{
    background-color: rgb(210, 120, 120);
    font-weight: 300;
}
#cuartoparrafo{
    background-color: rgb(215, 130, 130);
    font-weight:300;
    font-style: italic;
}
#quintoparrafo{
    background-color: rgb(220,140, 140);
    font-weight: 400;
}

#sextoparrafo
{
    background-color: rgb(225,160, 160);
    font-weight: 400;
    font-style: italic;
}